services:
  devcontainer:
    image: ukbc_dev_container  # This tags the built image
    build:
      context: ../  # Path to the directory containing the Dockerfile
      dockerfile: .devcontainer/dev.Dockerfile
    volumes:
      - ../:/workspaces/UKBinCollectionData:rw
    privileged: true
    hostname: devcontainer
    network_mode: host
    depends_on:
      - selenium-hub
    command: sleep infinity

  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - .ha_config:/config:rw
      - ../custom_components:/config/custom_components
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    privileged: true
    networks:
      - devnet
    ports:
      - "8124:8123/tcp"

  chrome1:
    image: selenium/node-chrome:4.20.0-20240505
    shm_size: 2gb
    networks:
      - devnet
    depends_on:
      - selenium-hub
    ports:
      - "7901:7900"
      - "5551:5555"
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - VNC_NO_PASSWORD=1
    privileged: true
    restart: always

  chrome2:
    image: selenium/node-chrome:4.20.0-20240505
    shm_size: 2gb
    networks:
      - devnet
    depends_on:
      - selenium-hub
    ports:
      - "7902:7900"
      - "5552:5555"
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - VNC_NO_PASSWORD=1
    privileged: true
    restart: always

  chrome3:
    image: selenium/node-chrome:4.20.0-20240505
    shm_size: 2gb
    networks:
      - devnet
    depends_on:
      - selenium-hub
    ports:
      - "7903:7900"
      - "5553:5555"
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - VNC_NO_PASSWORD=1
    privileged: true
    restart: always

  chrome4:
    image: selenium/node-chrome:4.20.0-20240505
    shm_size: 2gb
    networks:
      - devnet
    depends_on:
      - selenium-hub
    ports:
      - "7904:7900"
      - "5554:5555"
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - VNC_NO_PASSWORD=1
    privileged: true
    restart: always

  chrome_video1:
    image: selenium/video:ffmpeg-6.1.1-20240505
    networks:
      - devnet
    volumes:
      - ../test_videos:/videos/
    depends_on:
      - chrome1
    environment:
      - DISPLAY_CONTAINER_NAME=chrome1
      - SE_VIDEO_FILE_NAME=auto
      - SE_NODE_GRID_URL=http://selenium-hub:4444
    privileged: true
    restart: always

  chrome_video2:
    image: selenium/video:ffmpeg-6.1.1-20240505
    networks:
      - devnet
    volumes:
      - ../test_videos:/videos/
    depends_on:
      - chrome2
    environment:
      - DISPLAY_CONTAINER_NAME=chrome2
      - SE_VIDEO_FILE_NAME=auto
      - SE_NODE_GRID_URL=http://selenium-hub:4444
    privileged: true
    restart: always

  chrome_video3:
    image: selenium/video:ffmpeg-6.1.1-20240505
    networks:
      - devnet
    volumes:
      - ../test_videos:/videos/
    depends_on:
      - chrome3
    environment:
      - DISPLAY_CONTAINER_NAME=chrome3
      - SE_VIDEO_FILE_NAME=auto
      - SE_NODE_GRID_URL=http://selenium-hub:4444
    privileged: true
    restart: always

  chrome_video4:
    image: selenium/video:ffmpeg-6.1.1-20240505
    networks:
      - devnet
    volumes:
      - ../test_videos:/videos/
    depends_on:
      - chrome4
    environment:
      - DISPLAY_CONTAINER_NAME=chrome4
      - SE_VIDEO_FILE_NAME=auto
      - SE_NODE_GRID_URL=http://selenium-hub:4444
    privileged: true
    restart: always

  selenium-hub:
    image: selenium/hub:4.20.0-20240505
    container_name: selenium-hub
    hostname: selenium
    ports:
      - "4442:4442"
      - "4443:4443"
      - "4444:4444"
    privileged: true
    restart: always
    networks:
      - devnet

networks:
  devnet:
    driver: bridge
