name: Test Councils

on:
  push:
    branches: [ "master" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "master" ]
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9]
        poetry-version: [1.2.1]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run image
      uses: abatilo/actions-poetry@v2.1.6
      with:
        poetry-version: ${{ matrix.poetry-version }}

    - name: Install
      run: make install

    - name: run integration tests
      run: make matrix=${{ matrix.python-version }} integration-tests
      continue-on-error: true

    - name: Upload Integration Test Coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        gcov_ignore: uk_bin_collection/tests/**

    - name: run unit tests
      run: make unit-tests

    - name: Upload Unit Test Coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        gcov_ignore: uk_bin_collection/tests/**

    - name: Get Allure history
      uses: actions/checkout@v2
      if: always()
      continue-on-error: true
      with:
        ref: gh-pages
        path: gh-pages

    - name: Allure Report action from marketplace
      uses: simple-elf/allure-report-action@master
      if: always()
      #id: allure-report
      with:
        allure_results: build/${{ matrix.python-version }}/allure-results
        #gh_pages: gh-pages
        #allure_report: allure-report
        subfolder: ${{ matrix.python-version }}
        allure_history: allure-history
        report_url: robbrad.github.io/UKBinCollectionData/${{ github.run_number }}

    - name: Deploy report to Github Pages
      if: always()
      uses: peaceiris/actions-gh-pages@v3
      with:
        PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PUBLISH_BRANCH: gh-pages
        PUBLISH_DIR: allure-history
